<div>
<h1>We played <%= @hashrolls[@myroll] %></h1>
</div>
<div>
<h1>They played <%= @hashrolls[@computer_roll] %></h1>
</div>
<div>
<h1><%= @result %> </h1>
</div>

<div>
<a href="/" style="text-decoration: underline; color: blue">Rules</a>
</div>
